<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="/css/home.css"> 
    <!-- leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://kit.fontawesome.com/27e7665bdf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <img src="img/logo.png" alt="logo" style=" width: 100%; font-size: 10px;">
            </div>
            <div class="header-btn">
                <i class="fa-solid fa-house"></i>
            </div>

            <div class="header-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </header>
         <div id="map"></div> 
    </div>
  
    <script src="/scripts/map.js"></script>
</body>
</html>