<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="/css/home.css"> 
    <!-- leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://kit.fontawesome.com/27e7665bdf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <img src="img/logo.png" alt="logo" style=" width: 100%; font-size: 10px;">
            </div>
            <div class="header-btn header-btn-home" onclick="homeRefest()">
                <i class="fa-solid fa-house"></i>
            </div>

            <div class="header-btn header-btn-search" onclick="toggleSearchBtn()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </header>
         <div id="map"></div> 


         <!-- search popup -->
          <div class="search-wrap">
            <!-- search section 1-->
            <div class="head-section">
                <h4>Tìm Kiếm</h4>
                <div class="header-input">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" id="search-input" oninput="handleSearchResult()" placeholder="Nhập tên khách sạn">
                </div>

                <div class="header-options">
                    <span>
                        <i class="fa-solid fa-filter"></i>
                        Bộ Lọc
                    </span>
                    <button id="nearby-btn" onclick="findNearbyHotels()">Gần Bạn</button>
                    <form action="" onchange="filterStar()">
                        <select name="star" id="star">
                            <option selected disabled>Hạng Sao</option>
                            <option value="1">1 Sao</option>
                            <option value="2">2 Sao</option>
                            <option value="3">3 Sao</option>
                            <option value="4">4 Sao</option>
                            <option value="5">5 Sao</option>
                        </select>
                    </form>

                    <form action="" onchange="findPriceHotels()">
                        <select name="price" id="price">
                            <option selected disabled>Giá</option>
                            <option value="below-1m">Dưới 1 Triệu</option>
                            <option value="above-1m">Trên 1 Triệu</option>
                        </select>
                    </form>
                    <button onclick="deleteFilter()" id="delete-filter-btn">Xóa Bộ Lọc</button>
                </div>
            </div>
            <!-- search section 2 -->
            <div class="body-section">
                
            </div>
          </div>
    </div>
  
    <script src="/scripts/map.js"></script>
</body>
</html>